<html>
<head>
  <% include partials/meta.html.ejs %>
  <link rel="stylesheet" href="/style2.css" />
  <script src="//use.typekit.net/ohd3igy.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="rsvp" onload="document.body.setAttribute('class','rsvp loaded')">
<header>
  <div class="meat">
    <a href="/" target="_blank">

        <div>
   <h1> Wedding of the century </h1>
   <h1> Kingusia ❤️ Arek</h1>
          <h3>16 May 2020</h3>
          <h3>
            Hotel Platinum Palace<br />
            Wroclaw<br />
          </h3>
        </div>
      </div>

      </a>
    </div>
  </header>

  <section>
    <div class="content">

      <h4><%= partyname || firstname %>,</h4>

      <% if (rsvptime) { %>
        <p>We've received your RSVP. Let us know if anything has changed, otherwise <a href="/">continue to our site for details</a>.</p>
      <% } else { %>
      <% } %>

      <form id="rsvp" method="post" action="/<%= emoji %>/rsvp">

        <input class="attending-radio" id="attending-yes" type="radio" name="attending" value="yes" onchange="updateAttendance(this.form)" />
        <label for="attending-yes">
          I'll be there!
        </label>

        <input class="attending-radio" type="radio" id="attending-no" name="attending" value="no" onchange="updateAttendance(this.form)" />
        <label for="attending-no">
          Sadly, I can't attend.
        </label>

        <div class="other-questions" id="attending-no-form" style="display: none;">
          <h4>We're sorry to hear that.</h4>
          <p>Hopefully we'll see each other another time soon.</p>

          <label>
            Anything else?
            <textarea name="noMessage" placeholder="Leave us a message!"></textarea>
          </label>
        </div>

        <div class="other-questions" id="attending-yes-form" style="display: none;">
          <h4>We can't wait to see you!</h4>

          <% if (rows.length > 1) { %>
          <div class="party-members">
            <p>Who all is attending?</p>
            <% rows.forEach(row => { %>
            <label>
              <input type="checkbox" name="party[<%= row.firstname %> <%= row.lastname %>]" checked />
              <h4><%= row.firstname %> <%= row.lastname %></h4>
            </label>
            <% }) %>
          </div>
          <% } else { %>
          <input type="hidden" name="party[<%= firstname %> <%= lastname %>]" value="on" />
          <% } %>

          <div class="event-rsvp">

            <h3>Menu obiadowe</h3>

            <label>
              <input type="checkbox" name="normal" checked />
              <h4>Normalne</h4>
              <p class="meta">Opis</p>
            </label>

            <label>
              <input type="checkbox" name="vege" />
              <h4>Vegetarianskie</h4>
              <p class="meta">Opis</p>
            </label>
          </div>

          <% if (rows.length === 1) { %>
          <label>
            Will you be bringing anyone?
            <textarea name="plusOne" placeholder="Please include their full name."></textarea>
          </label>
          <% } else { %>
          <label>
            Will you be bringing any kids?
            <textarea name="kids" placeholder="Please include their names and the events they will be joining."></textarea>
          </label>
          <% } %>

          <label>
            Dietary restrictions?
            <textarea name="diet" placeholder="Or food allergies? Or do you not drink alcohol?"></textarea>
          </label>

          <label>
            Anything else?
            <textarea name="yesMessage" placeholder="Leave us a message!"></textarea>
          </label>
        </div>

        <input id="submit-button" type="submit" value="Send your reply" style="display: none;" />
      </form>
      <script>
        function updateAttendance(form) {
          document.getElementById('attending-yes-form').style.display =
            form.attending.value === 'yes' ? 'block' : 'none';
          document.getElementById('attending-no-form').style.display =
            form.attending.value === 'no' ? 'block' : 'none';

          document.getElementById('submit-button').style.display =
            form.attending.value !== '' ? 'block' : 'none';

          if (form.attending.value) {
            window.location = '#rsvp';
          }
        }
        updateAttendance(document.getElementById('rsvp'));
      </script>

    </div>
  </section>

  <footer>
  </footer>

  <% include partials/analytics.html.ejs %>
</body>
</html>
